.fullscreen-map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 90%;
  height: 100%;
  margin-top: 60px;
  right: 0;
  left: 0;
}

body {
  margin: 0;
  padding: 0;
}

.entire-page{
  width: 100%;
}

.split-screen-container {
  display: flex;
}

.left-section {
  flex: 1;
}

.right-section {
  flex: 1;
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

.state-table {
  font-family: Arial, sans-serif;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  position: sticky;
  top: 0;
  background-color: white;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}


/* .fullscreen-map {
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
} */

